.fMedia1 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/fMedia1.png);
}

.fMedia2 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/fMedia2.gif);
}

.fMedia3 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/fMedia3.gif);
}

.fMedia4 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/fMedia4.gif);
}

.fMedia5 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/fMedia5.gif);
}

.hMedia1 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/hProto1.gif);
}

.hMedia2 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/hProto2.gif);
}

.hMedia3 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/hProto3.gif);
}