* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.stress {
  font-weight: bold;
}

.SectionImg1 {
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, RGB(168, 168, 168, 0.7), RGB(168, 168, 168, 0.7)), url(../assets/Hero1.jpg);
}

.SectionImg2 {
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, RGB(168, 168, 168, 0.7), RGB(168, 168, 168, 0.7)), url(../assets/Hero2.jpg);
}

.SectionImg3 {
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, RGB(168, 168, 168, 0.7), RGB(168, 168, 168, 0.7)), url(../assets/Hero3.jpg);
}

.SectionImg4 {
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, RGB(168, 168, 168, 0.7), RGB(168, 168, 168, 0.7)), url(../assets/Hero4.jpg);
}

.header {
  width: 100%;
  height: 175px;
  background-color: RGB(7, 19, 48);
}
.header h1 {
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: RGB(255, 255, 255);
  padding-top: 65px;
  margin-left: 15px;
}
.header h2 {
  font-size: 32px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: RGB(255, 255, 255);
  margin-top: -15px;
  margin-left: 15px;
}
.header .navBar {
  width: 100%;
  height: 50px;
  padding-top: 10px;
  background-color: RGB(7, 19, 48);
  position: fixed;
  top: 0;
}
.header .navBar nav {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  border: 2px;
  border-style: solid;
  border-color: transparent transparent RGB(255, 255, 255) transparent;
}
.header .navBar nav a {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: RGB(255, 255, 255);
}
.header .navBar nav a:hover {
  color: RGB(168, 168, 168);
}
.header .navBar nav p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: RGB(255, 255, 255);
}

.projects {
  width: 90%;
  height: auto;
  background-color: RGB(255, 255, 255);
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 200px;
}
.projects h2 {
  font-size: 32px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: RGB(0, 0, 0);
}
.projects .projectList {
  width: 100%;
  padding-top: 10px;
  border: 2px;
  border-style: solid;
  border-color: transparent transparent RGB(168, 168, 168) transparent;
}
.projects .projectList .projectsRow {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}
.projects .projectList .projectsRow a {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: RGB(0, 0, 0);
}
.projects .projectList .projectsRow a:hover {
  color: RGB(168, 168, 168);
}
.projects .projectList .projectsRow p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.projects #app {
  width: 80%;
  margin: 0 auto;
}
.projects #app .project {
  margin-top: 20px;
}
.projects #app .project h3 {
  font-size: 28px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: RGB(0, 0, 0);
  margin-top: 50px;
}
.projects #app .project h4 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: RGB(0, 0, 0);
  margin-top: 30px;
}
.projects #app .project p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
.projects #app .project .projectProof {
  width: 550px;
  margin: 0 auto;
  margin-top: 30px;
}
.projects #app .project .projectProof p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: RGB(168, 168, 168);
  margin-top: 10px;
  margin-bottom: 30px;
}
.projects #app .project .projectProof .designIdeasImg1 {
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaImg01.jpg);
}
.projects #app .project .projectProof .designIdeasImg2 {
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaImg02.jpg);
}
.projects #app .project .projectProof .designIdeasImg3 {
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaImg03.jpg);
}
.projects #app .project .projectProof .designIdeasImg4 {
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaImg04.jpg);
}
.projects #app .project .projectProof .designIdeasImg5 {
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaImg05.jpg);
}
.projects #app .project .projectProof .designIdeasImg6 {
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaImg06.jpg);
}
.projects #app .project .projectProof .designIdeasImg7 {
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaImg07.jpg);
}
.projects #app .project .projectProof .designIdeasImg8 {
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaImg08.jpg);
}
.projects #app .project .projectProof .designIdeasImg9 {
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaImg09.jpg);
}
.projects #app .project .projectProof .designIdeasImg10 {
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaImg10.jpg);
}
.projects #app .project .projectProof .designIdeasProtoGif1 {
  height: 275px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaGameProtoGif1.gif);
}
.projects #app .project .projectProof .designIdeasProtoGif2 {
  height: 275px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaGameProtoGif2.gif);
}
.projects #app .project .projectProof .designIdeasProtoGif3 {
  height: 275px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaGameProtoGif3.gif);
}
.projects #app .project .projectProof .memoryGif1 {
  height: 275px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/eMemory1.gif);
}
.projects #app .project .projectProof .memoryGif2 {
  height: 275px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/eMemory2.gif);
}
.projects #app .project .projectProof .memoryGif3 {
  height: 275px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/eMemory3.gif);
}

.resume {
  width: 80%;
  height: auto;
  background-color: RGB(255, 255, 255);
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 200px;
}
.resume a {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.resume a:hover {
  color: RGB(168, 168, 168);
}
.resume h2 {
  font-size: 32px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: RGB(0, 0, 0);
  margin-bottom: 30px;
}
.resume h3 {
  font-size: 28px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: RGB(0, 0, 0);
  margin-top: 50px;
}
.resume h4 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: RGB(0, 0, 0);
  margin-top: 30px;
}
.resume p,
.resume li {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
.resume .resumeOverview {
  width: 100%;
}
.resume .resumeOverview .resumeCol {
  display: flex;
  justify-content: space-evenly;
}
.resume .resumeOverview .resumeCol .resumeTile {
  width: 300px;
}

.about {
  width: 80%;
  height: auto;
  background-color: RGB(255, 255, 255);
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 200px;
}
.about h2 {
  font-size: 32px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: RGB(0, 0, 0);
  margin-bottom: 30px;
}
.about .aboutMeTable {
  display: flex;
  justify-content: space-between;
}
.about .aboutMeTable .aboutImg {
  width: 250px;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/AboutImg.jpg);
  overflow: hidden;
  border-radius: 125px;
}
.about .aboutMeTable p {
  width: 750px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.contact {
  width: 80%;
  height: auto;
  background-color: RGB(255, 255, 255);
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 200px;
}
.contact h2 {
  font-size: 32px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: RGB(0, 0, 0);
  margin-bottom: 30px;
}
.contact p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: RGB(7, 19, 48);
  text-align: center;
}
.footer p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: RGB(255, 255, 255);
  padding-top: 50px;
}