* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.stress {
  font-weight: bold;
}

.header {
  width: 100%;
  height: 100px;
  background-color: RGB(0, 0, 0);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
.header .headerTitle {
  padding-top: 10px;
  margin-left: 30px;
}
.header .headerTitle h3 {
  font-size: 28px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: RGB(255, 255, 255);
}
.header .headerTitle h4 {
  font-size: 24px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: RGB(255, 255, 255);
  margin-top: -15px;
}
.header .headerNav {
  width: 725px;
  height: 50px;
  padding-top: 40px;
}
.header .headerNav nav {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.header .headerNav nav a {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: RGB(255, 255, 255);
}
.header .headerNav nav a:hover {
  color: RGB(168, 168, 168);
}
.header .headerNav nav p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: RGB(255, 255, 255);
}

#homeSection {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, RGB(50, 50, 50, 0.7), RGB(50, 50, 50, 0.7)), url(../assets/Hero.png);
}
#homeSection .home {
  padding-top: 225px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
#homeSection .home h1 {
  font-size: 75px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: RGB(255, 255, 255);
}
#homeSection .home h2 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: RGB(168, 168, 168);
  padding-top: 50px;
}

#projectsSection {
  height: 400px;
  width: 100%;
  background-color: RGB(10, 10, 10);
}
#projectsSection .projectsTitles {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
}
#projectsSection .projectsTitles h2 {
  font-size: 50px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: RGB(255, 255, 255);
}
#projectsSection .projectsTitles p {
  width: 800px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: RGB(255, 255, 255);
  padding-top: 20px;
}
#projectsSection .projectsTitles .projectNav {
  width: 100%;
  padding-top: 20px;
  border: 2px;
  border-style: solid;
  border-color: transparent transparent RGB(255, 255, 255) transparent;
}
#projectsSection .projectsTitles .projectNav .row {
  height: 50px;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
#projectsSection .projectsTitles .projectNav .row a {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: RGB(168, 168, 168);
}
#projectsSection .projectsTitles .projectNav .row a:hover {
  color: RGB(50, 50, 50);
}

.projects {
  width: 100%;
  height: auto;
  background-color: RGB(10, 10, 10);
}

#app {
  width: 80%;
  margin: 0 auto;
}
#app .project {
  margin-top: 20px;
}
#app .project h3 {
  font-size: 28px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: RGB(0, 0, 0);
  margin-top: 50px;
}
#app .project h4 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: RGB(0, 0, 0);
  margin-top: 30px;
}
#app .project p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
#app .project .projectProof {
  width: 550px;
  margin: 0 auto;
  margin-top: 30px;
}
#app .project .projectProof p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: RGB(168, 168, 168);
  margin-top: 10px;
  margin-bottom: 30px;
}
#app .project .projectProof .designIdeasImg1 {
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaImg01.jpg);
}
#app .project .projectProof .designIdeasImg2 {
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaImg02.jpg);
}
#app .project .projectProof .designIdeasImg3 {
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaImg03.jpg);
}
#app .project .projectProof .designIdeasImg4 {
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaImg04.jpg);
}
#app .project .projectProof .designIdeasImg5 {
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaImg05.jpg);
}
#app .project .projectProof .designIdeasImg6 {
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaImg06.jpg);
}
#app .project .projectProof .designIdeasImg7 {
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaImg07.jpg);
}
#app .project .projectProof .designIdeasImg8 {
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaImg08.jpg);
}
#app .project .projectProof .designIdeasImg9 {
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaImg09.jpg);
}
#app .project .projectProof .designIdeasImg10 {
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaImg10.jpg);
}
#app .project .projectProof .designIdeasProtoGif1 {
  height: 275px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaGameProtoGif1.gif);
}
#app .project .projectProof .designIdeasProtoGif2 {
  height: 275px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaGameProtoGif2.gif);
}
#app .project .projectProof .designIdeasProtoGif3 {
  height: 275px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/10DesignIdeaGameProtoGif3.gif);
}
#app .project .projectProof .memoryGif1 {
  height: 275px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/eMemory1.gif);
}
#app .project .projectProof .memoryGif2 {
  height: 275px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/eMemory2.gif);
}
#app .project .projectProof .memoryGif3 {
  height: 275px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/eMemory3.gif);
}

#aboutSection {
  width: 100%;
  height: 700px;
  background-color: RGB(50, 50, 50);
}
#aboutSection .about {
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}
#aboutSection .about h2 {
  font-size: 50px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: RGB(255, 255, 255);
  margin-bottom: 30px;
}
#aboutSection .about .aboutImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/AboutImg.jpg);
  overflow: hidden;
  border-radius: 200px;
  margin-bottom: 30px;
}
#aboutSection .about p {
  width: 750px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: RGB(255, 255, 255);
}

#contactSection {
  width: 100%;
  height: 500px;
  background-color: RGB(10, 10, 10);
}
#contactSection .contact {
  width: 95%;
  height: 300px;
  margin: 0 auto;
  margin-top: 125px;
  background-color: RGB(50, 50, 50);
  text-align: center;
}
#contactSection .contact h2 {
  font-size: 50px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: RGB(255, 255, 255);
  padding-top: 50px;
  margin-bottom: 30px;
}
#contactSection .contact p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: RGB(255, 255, 255);
}

.footer {
  width: 100%;
  height: 200px;
  background-color: RGB(0, 0, 0);
  text-align: center;
}
.footer p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: RGB(255, 255, 255);
  padding-top: 125px;
}