* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.stress {
  font-weight: bold;
}

.header {
  width: 100%;
  height: 100px;
  background-color: RGB(0, 0, 0);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
.header .headerTitle {
  padding-top: 10px;
  margin-left: 30px;
}
.header .headerTitle h3 {
  font-size: 40px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: RGB(255, 255, 255);
}
.header .headerTitle h4 {
  font-size: 24px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: RGB(255, 255, 255);
  margin-top: -15px;
}
.header .headerNav {
  width: 725px;
  height: 50px;
  padding-top: 40px;
}
.header .headerNav nav {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.header .headerNav nav a {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: RGB(255, 255, 255);
}
.header .headerNav nav a:hover {
  color: RGB(168, 168, 168);
}
.header .headerNav nav p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: RGB(255, 255, 255);
}

#projectsSection {
  height: 400px;
  width: 100%;
  background-color: RGB(10, 10, 10);
}
#projectsSection .projectsTitles {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
}
#projectsSection .projectsTitles h2 {
  font-size: 50px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: RGB(255, 255, 255);
}
#projectsSection .projectsTitles p {
  width: 800px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: RGB(255, 255, 255);
  padding-top: 20px;
}
#projectsSection .projectsTitles .projectNav {
  width: 100%;
  padding-top: 20px;
  border: 2px;
  border-style: solid;
  border-color: transparent transparent RGB(255, 255, 255) transparent;
}
#projectsSection .projectsTitles .projectNav .row {
  height: 50px;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
#projectsSection .projectsTitles .projectNav .row a {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: RGB(168, 168, 168);
}
#projectsSection .projectsTitles .projectNav .row a:hover {
  color: RGB(50, 50, 50);
}

.projects {
  width: 100%;
  height: auto;
  background-color: RGB(10, 10, 10);
  padding-bottom: 200px;
}
.projects a {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: RGB(168, 168, 168);
  margin-left: 80px;
}
.projects a:hover {
  color: RGB(50, 50, 50);
}
.projects #app {
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.projects #app .projectsTemplate {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-bottom: 100px;
}
.projects #app .projectsTemplate a {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: RGB(168, 168, 168);
  margin-left: 0;
  padding-top: 25px;
}
.projects #app .projectsTemplate a:hover {
  color: RGB(50, 50, 50);
}
.projects #app .projectsTemplate .projectsRow {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}
.projects #app .projectsTemplate .projectsRow .projectsWords {
  width: 45%;
  color: RGB(255, 255, 255);
}
.projects #app .projectsTemplate .projectsRow .projectsWords h3 {
  font-size: 40px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.projects #app .projectsTemplate .projectsRow .projectsWords p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
}
.projects #app .projectsTemplate .projectsRow .projectsEssay {
  width: 100%;
  color: RGB(255, 255, 255);
}
.projects #app .projectsTemplate .projectsRow .projectsEssay h3 {
  font-size: 40px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.projects #app .projectsTemplate .projectsRow .projectsEssay p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
}
.projects #app .projectsTemplate .projectsRow .projectsMedia {
  width: 45%;
}
.projects #app .projectsTemplate .projectsRow .projectsMedia p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  color: RGB(168, 168, 168);
}
.projects #app .projectsTemplate .projectsRow .projectsMediaSmall {
  width: 30%;
}
.projects #app .projectsTemplate .projectsRow .projectsMediaSmall p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  color: RGB(168, 168, 168);
}

.aMedia1 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/aImg1.jpg);
}

.aMedia2 {
  height: 400px;
  width: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/aImg2.jpg);
}

.aMedia3 {
  height: 400px;
  width: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/aImg3.jpg);
}

.aMedia4 {
  height: 500px;
  width: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/aImg4.jpg);
}

.aMedia5 {
  height: 500px;
  width: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/aImg5.jpg);
}

.aMedia6 {
  height: 500px;
  width: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/aImg6.jpg);
}

.bMedia1 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/bImg1.png);
}

.bMedia2 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/bImg2.png);
}

.bMedia3 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/bImg3.png);
}

.bMedia4 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/bImg4.png);
}

.bMedia5 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/bImg5.png);
}

.eMedia1 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/eMemory1.gif);
}

.eMedia2 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/eMemory2.gif);
}

.eMedia3 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/eMemory3.gif);
}

.fMedia1 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/fMedia1.png);
}

.fMedia2 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/fMedia2.gif);
}

.fMedia3 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/fMedia3.gif);
}

.fMedia4 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/fMedia4.gif);
}

.fMedia5 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/fMedia5.gif);
}

.hMedia1 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/hProto1.gif);
}

.hMedia2 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/hProto2.gif);
}

.hMedia3 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/hProto3.gif);
}

#aboutSection {
  width: 100%;
  height: 700px;
  background-color: RGB(50, 50, 50);
}
#aboutSection .about {
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}
#aboutSection .about h2 {
  font-size: 50px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: RGB(255, 255, 255);
  margin-bottom: 30px;
}
#aboutSection .about .aboutImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/AboutImg.jpg);
  overflow: hidden;
  border-radius: 200px;
  margin-bottom: 30px;
}
#aboutSection .about p {
  width: 750px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: RGB(255, 255, 255);
}

#contactSection {
  width: 100%;
  height: 500px;
  background-color: RGB(10, 10, 10);
}
#contactSection .contact {
  width: 95%;
  height: 300px;
  margin: 0 auto;
  margin-top: 125px;
  background-color: RGB(50, 50, 50);
  text-align: center;
}
#contactSection .contact h2 {
  font-size: 50px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: RGB(255, 255, 255);
  padding-top: 50px;
  margin-bottom: 30px;
}
#contactSection .contact p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: RGB(255, 255, 255);
}

.footer {
  width: 100%;
  height: 200px;
  background-color: RGB(0, 0, 0);
  text-align: center;
}
.footer p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: RGB(255, 255, 255);
  padding-top: 125px;
}