.about {
  width: 80%;
  height: auto;
  background-color: $white;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 200px;

  h2 {
    font-size: $FontSizeSectHeader;
    font-family: $FontHeader;
    color: $black;
    margin-bottom: 30px;
  }
  .aboutMeTable {
    display: flex;
    justify-content: space-between;

    .aboutImg {
      width: 250px;
      height: 250px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(../assets/AboutImg.jpg);
      overflow: hidden;
      border-radius: 125px;
    }
    p {
      width: 750px;
      font-size: 20px;
      font-family: $FontBody;
      margin-bottom: 10px;
    }
  }
}
