#homeSection {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      $darkGrayGradient,
      $darkGrayGradient
    ),
    url(../assets/Hero.png);

  .home {
    padding-top: 225px;
    text-align: center;
    width: 50%;
    margin: 0 auto;

    h1 {
      font-size: $FontSizeWebHeader;
      font-family: $FontHeader;
      color: $white;
    }
    h2 {
      font-size: $FontSizeSideBody;
      font-family: $FontBody;
      color: $gray;
      padding-top: 50px;
    }
  }
}
