.aMedia01 {
  width: 500px;

  .source {
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/aSrc01.jpg);
  }
}
.aMedia02 {
  height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/aSrc02.png);
}
.aMedia03 {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/aSrc03.jpg);
}
.aMedia04 {
  width: 500px;

  .source {
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/aSrc04.jpg);
  }
}
.aMedia05 {
  width: 250px;

  .source {
    height: 425px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/aSrc05.jpg);
  }
}
.aMedia06 {
  width: 250px;

  .source {
    height: 425px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/aSrc06.jpg);
  }
}
.aMedia07 {
  width: 250px;

  .source {
    height: 425px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/aSrc07.jpg);
  }
}
.aMedia08 {
  width: 250px;

  .source {
    height: 425px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/aSrc08.jpg);
  }
}
.aMedia09 {
  width: 250px;

  .source {
    height: 425px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/aSrc09.jpg);
  }
}
.aMedia10 {
  width: 250px;

  .source {
    height: 425px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/aSrc10.jpg);
  }
}
.aMedia11 {
  width: 300px;

  .source {
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/aSrc11.jpg);
  }
}
