#projectsSection {
  height: 400px;
  width: 100%;
  background-color: $darkerGray;

  .projectsTitles {
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;

    h2 {
      font-size: $FontSizeSectHeader;
      font-family: $FontHeader;
      color: $white;
    }
    p {
      width: 800px;
      font-size: $FontSizeMainBody;
      font-family: $FontBody;
      color: $white;
      padding-top: 20px;
    }
    .projectNav {
      width: 100%;
      padding-top: 20px;
      border: 2px;
      border-style: solid;
      border-color: transparent transparent $white transparent;

      .row {
        height: 50px;
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        a {
          font-size: $FontSizeSideBody;
          font-family: $FontBody;
          text-decoration: none;
          color: $gray;
        }
        a:hover {
          color: $darkGray;
        }
      }
    }
  }
}
