.aMedia1 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/aImg1.jpg);
}
.aMedia2 {
  height: 400px;
  width: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/AImg2.jpg);
}
.aMedia3 {
  height: 400px;
  width: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/aImg3.jpg);
}
.aMedia4 {
  height: 500px;
  width: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/aImg4.jpg);
}
.aMedia5 {
  height: 500px;
  width: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/aImg5.jpg);
}
.aMedia6 {
  height: 500px;
  width: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/aImg6.jpg);
}

.bMedia1 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/bImg1.png);
}
.bMedia2 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/bImg2.png);
}
.bMedia3 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/bImg3.png);
}
.bMedia4 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/bImg4.png);
}
.bMedia5 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/bImg5.png);
}

.eMedia1 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/eMemory1.gif);
}
.eMedia2 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/eMemory2.gif);
}
.eMedia3 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/eMemory3.gif);
}

.fMedia1 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/fMedia1.png);
}
.fMedia2 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/fMedia2.gif);
}
.fMedia3 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/fMedia3.gif);
}
.fMedia4 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/fMedia4.gif);
}
.fMedia5 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/fMedia5.gif);
}

.hMedia1 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/hProto1.gif);
}
.hMedia2 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/hProto2.gif);
}
.hMedia3 {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/hProto3.gif);
}
