.projects {
  width: 90%;
  height: auto;
  background-color: $white;
  margin: 0 auto;
  margin-top: 50px;

  h2 {
    font-size: $FontSizeSectHeader;
    font-family: $FontHeader;
    color: $black;
  }

  .projectList {
    width: 100%;
    padding-top: 10px;
    border: 2px;
    border-style: solid;
    border-color: transparent transparent $gray transparent;

    .projectsRow {
      height: 50px;
      display: flex;
      justify-content: space-evenly;
      padding-top: 10px;

      a {
        font-size: $FontSizeSideBody;
        font-family: $FontBody;
        text-decoration: none;
        color: $black;
      }
      a:hover {
        color: $gray;
      }
      p {
        font-size: $FontSizeSideBody;
        font-family: $FontBody;
      }
    }
  }

  #app {
    width: 80%;
    margin: 0 auto;

    .project {
      margin-top: 20px;

      h3 {
        font-size: $FontSizeSubHeader;
        font-family: $FontHeader;
        color: $black;
        margin-top: 50px;
      }
      h4 {
        font-size: $FontSizeListHeader;
        font-family: $FontBody;
        color: $black;
        margin-top: 30px;
      }
      p {
        font-size: $FontSizeSideBody;
        font-family: $FontBody;
        margin-bottom: 10px;
      }

      .projectProof {
        width: 550px;
        margin: 0 auto;
        margin-top: 30px;

        p {
          font-size: $FontSizeSideBody;
          font-family: $FontBody;
          color: $gray;
          margin-top: 10px;
          margin-bottom: 30px;
        }

        .memoryGif1 {
          height: 275px;
          margin: 0 auto;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url(../assets/eMemory1.gif);
        }
        .memoryGif2 {
          height: 275px;
          margin: 0 auto;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url(../assets/eMemory2.gif);
        }
        .memoryGif3 {
          height: 275px;
          margin: 0 auto;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url(../assets/eMemory3.gif);
        }
      }
    }
  }
}
