.fMedia01 {
  width: 500px;
  
      .source {
      height: 300px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../assets/fScr01.gif);
  }
}
.fMedia02 {
  width: 500px;
  
      .source {
      height: 300px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../assets/fScr02.gif);
  }
}
.fMedia03 {
  width: 500px;
  
      .source {
      height: 300px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../assets/fScr03.gif);
  }
}