.resume {
  width: 80%;
  height: auto;
  background-color: $white;
  margin: 0 auto;
  margin-top: 50px;

  a {
    font-size: $FontSizeSideBody;
    font-family: $FontBody;
  }
  a:hover {
    color: $gray;
  }
  h2 {
    font-size: $FontSizeSectHeader;
    font-family: $FontHeader;
    color: $black;
    margin-bottom: 30px;
  }
  h3 {
    font-size: $FontSizeSubHeader;
    font-family: $FontHeader;
    color: $black;
    margin-top: 50px;
  }
  h4 {
    font-size: $FontSizeListHeader;
    font-family: $FontBody;
    color: $black;
    margin-top: 30px;
  }
  p,
  li {
    font-size: $FontSizeSideBody;
    font-family: $FontBody;
    margin-bottom: 10px;
  }
}
