//Colors
$black: #000000;
$darkGray: #3f3f3f;
$gray: #6c6c6c;
$lightGray: #a0a0a0;
$white: #f4f5f7;
$blue: #5555ff;
$darkBlue: #77cbd9;

//Fonts
$FontHeader: Tahoma, Geneva, Verdana, sans-serif;
$FontBody: Arial, Helvetica, sans-serif;

//FontSize
$FontSizeWebHeader: 75px;
$FontSizeSectHeader: 50px;
$FontSizeSubHeader: 40px;
$FontSizeListHeader: 24px;
$FontSizeMainBody: 20px;
$FontSizeSideBody: 18px;
