//Colors
$blue: RGB(7, 19, 48);
$gray: RGB(168, 168, 168);
$black: RGB(0, 0, 0);
$white: RGB(255, 255, 255);
$grayGradient: RGB(168, 168, 168, 0.7);

//Fonts
$FontHeader: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$FontBody: Arial, Helvetica, sans-serif;

//FontSize
$FontSizeWebHeader: 40px;
$FontSizeSectHeader: 32px;
$FontSizeSubHeader: 28px;
$FontSizeListHeader: 24px;
$FontSizeMainBody: 20px;
$FontSizeSideBody: 18px;
